In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv("titanic.csv")
df=df.drop(["PassengerId","Name","SibSp","Parch","Ticket","Cabin","Embarked"],axis=1)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [10]:
data=df.drop(["Survived"],axis=1)
target=df["Survived"]

In [12]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Sex_n']=le.fit_transform(data['Sex'])
data=data.drop(['Sex'],axis=1)
data.head()

   Pclass   Age     Fare  Sex_n
0       3  22.0   7.2500      1
1       1  38.0  71.2833      0
2       3  26.0   7.9250      0
3       1  35.0  53.1000      0
4       3  35.0   8.0500      1

In [19]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(data,target)

In [32]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='mean')

xtrain_imputed = imputer.fit_transform(xtrain)

xtest_imputed = imputer.transform(xtest)

model = DecisionTreeClassifier()

model.fit(xtrain_imputed, ytrain)

DecisionTreeClassifier()

In [31]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(xtest_imputed)

accuracy = accuracy_score(ytest, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7982062780269058

In [47]:
df = pd.DataFrame({'Features': xtest.values.tolist(), 'Predicted': y_pred, 'True Label': ytest})
df.head()

                     Features  Predicted  True Label
606  [3.0, 30.0, 7.8958, 1.0]          0           0
653   [3.0, nan, 7.8292, 0.0]          1           1
43   [2.0, 3.0, 41.5792, 0.0]          0           1
884    [3.0, 25.0, 7.05, 1.0]          0           0
480     [3.0, 9.0, 46.9, 1.0]          0           0